body {
    background-color: rgb(100, 100, 100);
    color: rgb(233, 233, 233);
}

#textContainer {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    position: relative;
}

.highlight {
    background-color: #FFFF00;
    /* 背景色を変更するカーソルのスタイル */
}